.leadershipIndividualContainer {
  margin-top: 148px;
  margin-bottom: 148px;
  padding: 0;
  font-style: normal;
  line-height: normal;
}
.nameAndPosition {
  max-width: 387px;
  text-align: center;
}
.individualImage {
  width: 387px;
  height: 332px;
  background-color: blueviolet;
  border-radius: 10.556px 10.556px 70.374px 10.556px;
  margin-bottom: 24px;
}
.individualLink {
  display: inline-block;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  text-decoration-line: underline;
}
.leadershipContainerInfo {
  max-width: 793px;
  color: #000;
  font-size: 16px;
  font-weight: 400;
}
